<!-- <div class="container">
  <h3>İletişim</h3>
  <div class="infos">
    <div>
      <p>Sultan Selim Mah. Lalegül Sok NEF09 Plaza A Blok Kat 6 Daire 65-66 4. Levent, İstanbul</p>
    </div>
    <div>
      <p style="font-weight:600">Telefon:</p>
      <p style="padding-left: 0.7em;">+90 (312) 123 4567</p>
    </div>
    <div>
      <p style="font-weight:600">E-Mail: </p>
      <p style="padding-left: 0.7em;">talhaalatas97@gmail.com</p>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="footer-content">
    <div class="footer-logo" style="text-align: center;">
      <img src="assets/nav-icon.png" alt="Logo">
      <h3>Perihan Terzi</h3>
    </div>
    <div style="flex-direction:row;display: flex;">
      <div class="footer-links">
        <h4>Hızlı Erişim</h4>
        <ul>
          <li><a href="">Anasayfa</a></li>
          <li><a href="hakkimizda">Hakkımızda</a></li>
          <li><a href="uzmanlik-alanlari">Uzmanlık Alanları</a></li>
          <li><a href="ekibimiz">Ekibimiz</a></li>
          <li><a href="blog">Makale</a></li>
          <li><a href="iletisim">İletişim</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h4>İletişim Bilgileri</h4>
        <div class="infos">
          <div>
            <p>Kızılırmak Mah. 1450.sok. No:1, B Blok, 5.Kat, Daire 30, ATM Plaza, Çankaya/ANKARA</p>
          </div>
          <div>
            <p style="font-weight:600">Telefon:</p>
            <p style="padding-left: 0.7em;">0544 549 9753</p>
          </div>
          <div>
            <p style="font-weight:600">E-Mail: </p>
            <p style="padding-left: 0.7em;">av.perihanterzi@gmail.com</p>
          </div>
          <div class="social-media">
            <i class="fa-brands fa-twitter" (click)="goToLink(linkLinkedin)" ></i>
            <i class="fa-brands fa-instagram" (click)="goToLink(linkLinkedin)"></i>
            <i class="fa-brands fa-linkedin-in" (click)="goToLink(linkLinkedin)"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <p> &copy; Perihan TERZİ Avukatlık Bürosu. Tüm Hakları Saklıdır.</p>
  </div>
</div>
