.container{
  height: auto;
  background-color: #000000e0;
  // background-color: #13161d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 2em;

  p{
    margin: 0;
    color: #ddd;
    line-height: 26px;
    font-size: 14px;
  }

}

.infos{
  display: flex;
  flex-direction: column;
  div{
    margin: 0.5em 0;
    flex-direction: row;
    display: flex;
  }
}

.footer-bottom{
  margin-top: 2em;
}

.footer-links {
  width: 20%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 15px;
      font-size: 14px;
      padding: 8px 0;
      &::before {
        content: none;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-contact{
  width: 80%;
  padding-left: 3em;
}
