.container{
  position: fixed;
  width: -webkit-fill-available;
  bottom: 0;
  height: auto;
  background-color: #000000e0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 2em;

  p{
    margin: 0;
    color: #ddd;
    line-height: 26px;
    font-size: 14px;
  }

}

.infos{
  display: flex;
  flex-direction: column;
  div{
    margin: 0.5em 0;
    flex-direction: row;
    display: flex;
  }
}

.footer-bottom{
  margin-top: 2em;
}

.footer-links {
  width: 20%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 15px;
      font-size: 14px;
      padding: 8px 0;
      &::before {
        content: none;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-contact{
  width: 80%;
  padding-left: 3em;
}

.social-media{
  cursor: pointer;
  i{
    border: 1px solid;
    border-radius: 50%;
    padding: 12px;
    margin-right: 12px;
  }
  i:hover{
    background-color: white;
    color: #291b1b;
      transform: scale(1.05);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.59s;
  }
}
