.sub-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
    // background: #223555;
  background: #343434;
  color: white;
}

.info{
  display: flex;
  flex-direction: row;
}

.cell{
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 1em;
  mat-icon{
    padding-right: 0.2em;
  }
}

.social-media{
  cursor: pointer;
  i{
    padding: 0.4em;
  }
  i:hover{
    color: rgb(110, 110, 110);
      transform: scale(1.05);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.59s;
  }
}

.menu{
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8%;
  align-items: center;
  justify-content: space-around;
  // border: 1px solid #e8e8e8;
  // padding: 0 15%;
  // box-shadow: 0 0 24px rgba(0,0,0,.1);
  // -webkit-box-shadow: 0 0 24px rgba(0,0,0,.1);
  // -moz-box-shadow: 0 0 24px rgba(0,0,0,.1);
  .logo{
    padding-right: 2em;
    img{
      width: 13vh;
    }
  }
  li{
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0.4em;
  }
}

nav {
  // background-color: #f2f2f2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  // color: #333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

li a:hover {
  // background-color: #ddd;
  color: #f32323;
}

.menu-icon{
  position: absolute;
  right: 0;
}
