<div *ngIf="!isSmallScreen" class="sub-header">
  <div class="info">
    <div class="cell">
      <mat-icon>call</mat-icon>
      +90 5392 45 12
    </div>
    <div class="cell">
      <mat-icon>mail</mat-icon>
      talhalatas@gmail
    </div>
  </div>

  <div class="social-media">
    <img src="assets/facebook-end.svg" (click)="goToLink(linkFaceBook)" width="16">
    <img src="assets/instagram-end.svg" (click)="goToLink(linkInstagram)" width="16">
    <img src="assets/twitter-end.svg" (click)="goToLink(linkTwitter)" width="16">

  </div>
</div>

<div class="menu">
  <div class="logo">
    <a href="#"> <img src="assets/logo.png"> </a>
  </div>
  <nav *ngIf="!isSmallScreen" class="nav-menu">
    <ul>
      <li><a href="">Anasayfa</a></li>
      <li><a href="hakkimizda">Hakkımızda</a></li>
      <li><a href="uzmanlik-alanlari">Uzmanlık Alanları</a></li>
      <li><a href="ekibimiz">Ekibimiz</a></li>
      <li><a href="blog">Blog</a></li>
      <li><a href="iletisim">İletişim</a></li>
    </ul>
  </nav>
  <div *ngIf="isSmallScreen" class="menu-icon" fxLayoutAlign="end center">
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" class="small-menu" yPosition="below">
      <div *ngFor="let cat of categories">
        <div class="category" fxFlex="1 1 auto" color="primary">
          {{ cat.name }}
        </div>
      </div>
    </mat-menu>
  </div>

</div>

