<div *ngIf="!isSmallScreen" class="sub-header">
  <div class="info">
    <div class="cell">
      <mat-icon>call</mat-icon>
      0544 549 9753
    </div>
    <div class="cell">
      <mat-icon>mail</mat-icon>
      av.perihanterzi@gmail.com
    </div>
  </div>

  <div class="social-media">
    <i class="fa-brands fa-twitter" (click)="goToLink(linkLinkedin)" ></i>
    <i class="fa-brands fa-instagram" (click)="goToLink(linkLinkedin)"></i>
    <i class="fa-brands fa-linkedin-in" (click)="goToLink(linkLinkedin)"></i>
  </div>
</div>

<div class="menu">
  <div class="logo">
    <!-- <a href="#"> <img src="assets/logo.svg"> </a> -->
  </div>
  <nav *ngIf="!isSmallScreen" class="nav-menu">
    <ul>
      <li><a [routerLink]="['/home']" >Anasayfa</a></li>
      <li><a [routerLink]="['/hakkimizda']" >Hakkımızda</a></li>
      <li><a [routerLink]="['/uzmanlik-alanlari']" >Uzmanlık Alanları</a></li>
      <li><a [routerLink]="['/ekibimiz']" >Ekibimiz</a></li>
      <li><a [routerLink]="['/blog']" >Makale</a></li>
      <li><a [routerLink]="['/iletisim']" >İletişim</a></li>
    </ul>
  </nav>
  <div *ngIf="isSmallScreen" class="menu-icon" fxLayoutAlign="end center">
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" class="small-menu" yPosition="below">
      <div *ngFor="let cat of categories">
        <div class="category" fxFlex="1 1 auto" color="primary">
          {{ cat.name }}
        </div>
      </div>
    </mat-menu>
  </div>

</div>
