<div class="uzmanlik-alanlari">
  <h1 class="header">Uzmanlık Alanları</h1>
  <div class="cards">
    <!-- <div *ngFor="let uzmanlik of uzmanlikAlanlar;let index = index" class="card" [style.background-image]="'url(assets/uzmanlik-bg/bg-' + index + '.jpg)'"> -->
    <!-- <div
      *ngFor="let uzmanlik of uzmanlikAlanlar; let index = index"
      class="card"
      style="background-image: url('https://plus.unsplash.com/premium_photo-1661769577787-9811af17f98d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3453&q=80')"
    >
      <span> {{ uzmanlik }} </span>
    </div> -->
    <div *ngFor="let uzmanlik of uzmanlikAlanlar; let index = index" class="card">
      <i [class]="uzmanlik.icon"></i>
      <span class="name"> {{ uzmanlik.name }} </span>
      <span class="description"> {{ uzmanlik.description }} </span>
    </div>
  </div>
</div>
