.uzmanlik-alanlari {
  padding: 3% 15%;
  text-align: center;

  background-color: #1f1b1c;
  padding-bottom: 6%;
  h1 {
    color: white;
    padding-bottom: 5%;
    animation: slideInRight  1s ease-in;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
}
.card {
  height: 20vh;
  width: 100%;
  min-width: 120px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
  }
  animation: 1.3s rotated ;
}
.card:hover {
  background-color: black;
  background-image: none !important;

  span {
    font-size: 1.7em;
    margin-top: 40%;
  }
}
