<div class="container">
  <h1>Ekibimiz ve Çözüm Ortaklarımız</h1>
  <div class="cards">
    <div class="flip flip-vertical">
      <div class="front" style="
          background-image: url(https://i.pinimg.com/564x/73/3a/2a/733a2a776395038893768fe7fc001f73.jpg);
        ">
        <h1 class="text-shadow">Av. Perihan TERZİ</h1>
      </div>
      <div class="back">
        <h2>Av. Perihan TERZİ</h2>
        <p>Ufuk Üniversitesi Hukuk Fakültesinden 2021 yılında mezun olmuştur. Eğitim süresi boyunca
          Uluslararası Hukuk Topluluğu bünyesinde yönetim kurulunda görev almış; bu süreçte uluslararası hukuk, yapay
          zeka hukuku, avukatlık hukuku, arabuluculuk ve daha birçok alanda eğitimler düzenleyip katılmıştır. Staj
          dönemi boyunca özellikle iş hukuku alanında çalışmalar yapmıştır. </p>

        <div class="social-media">
          <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26" />
          <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30" />
          <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30" />
        </div>
      </div>
    </div>

    <div class="flip flip-vertical">
      <!-- <div class="front" style="background-image: url(https://i.pinimg.com/564x/06/74/09/067409597dea2b6bd51c0c76efa274fe.jpg);"> -->
      <div class="front" style="background-image: url(https://i.pinimg.com/564x/73/3a/2a/733a2a776395038893768fe7fc001f73.jpg);">
        <h1 class="text-shadow">Av. Ünver ÖZGÜL</h1>
      </div>
      <div class="back">
        <h2>Av. Ünver ÖZGÜL</h2>
        <p>
          Kariyer Bilgileri ,Gemiş Bilgiler...
        </p>

        <div class="social-media">
          <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26">
          <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30">
          <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30">

        </div>

      </div>
    </div>

    <div class="flip flip-vertical">
      <!-- <div class="front" style="background-image: url(https://i.pinimg.com/564x/f4/02/ca/f402ca25126ae1d1936ebc8f73ed64bd.jpg);"> -->
      <div class="front" style="background-image: url(https://i.pinimg.com/564x/73/3a/2a/733a2a776395038893768fe7fc001f73.jpg);">
        <h1 class="text-shadow">Av. İrem Nur CANSIZ</h1>
      </div>
      <div class="back">
        <h2>Av. İrem Nur CANSIZ</h2>
        <p>
          Kariyer Bilgileri ,Gemiş Bilgiler...
        </p>

        <div class="social-media">
          <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26">
          <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30">
          <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30">

        </div>

      </div>
    </div>
  </div>
</div>
