<div class="container">
  <h1>Avukatlarımız</h1>
  <div class="cards">
    <div class="flip flip-vertical">
      <div
        class="front"
        style="
          background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
        "
      >
        <h1 class="text-shadow">Perihan TERZİ</h1>
      </div>
      <div class="back">
        <h2>Perihan TERZİ</h2>
        <p>Kariyer Bilgileri ,Gemiş Bilgiler...</p>

        <div class="social-media">
          <img
            src="assets/facebook.svg"
            (click)="goToLink('linkFaceBook')"
            width="26"
          />
          <img
            src="assets/instagram.svg"
            (click)="goToLink('linkInstagram')"
            width="30"
          />
          <img
            src="assets/twitter.svg"
            (click)="goToLink('linkTwitter')"
            width="30"
          />
        </div>
      </div>
    </div>

    <div class="flip flip-vertical">
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Perihan TERZİ</h1>
        </div>
        <div class="back">
          <h2>Perihan TERZİ</h2>
          <p>
           Kariyer Bilgileri ,Gemiş Bilgiler...
          </p>
    
          <div class="social-media">
            <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26">
            <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30">
            <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30">
        
          </div>
    
        </div>
      </div>

      <div class="flip flip-vertical">
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Perihan TERZİ</h1>
        </div>
        <div class="back">
          <h2>Perihan TERZİ</h2>
          <p>
           Kariyer Bilgileri ,Gemiş Bilgiler...
          </p>
    
          <div class="social-media">
            <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26">
            <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30">
            <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30">
        
          </div>
    
        </div>
      </div>

      <div class="flip flip-vertical">
        <div
          class="front"
          style="
            background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
          "
        >
          <h1 class="text-shadow">Perihan TERZİ</h1>
        </div>
        <div class="back">
          <h2>Perihan TERZİ</h2>
          <p>
           Kariyer Bilgileri ,Gemiş Bilgiler...
          </p>
    
          <div class="social-media">
            <img src="assets/facebook.svg" (click)="goToLink('linkFaceBook')" width="26">
            <img src="assets/instagram.svg" (click)="goToLink('linkInstagram')" width="30">
            <img src="assets/twitter.svg" (click)="goToLink('linkTwitter')" width="30">
        
          </div>
    
        </div>
      </div>
  </div>
</div>
