.container{
     // background: url(/assets/books.jpg);
  // background: url(https://i.pinimg.com/564x/8e/5e/ea/8e5eeae8f38e6dfeced4a6aa55ebd45e.jpg);
  // background-image: url(https://i.pinimg.com/564x/db/4d/d2/db4dd2a0f24a51d32f37a0564409c5e8.jpg);
  height: 70%;
}

.hakkimizda-img{
  animation: slideInRight  1s ease-in;

}

.hakkimizda-container {
  padding: 3% 15%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1em;
  box-shadow: 0 0 32px rgba(10, 10, 10, 0.08);
  -moz-box-shadow: 0 0 32px rgba(10, 10, 10, 0.08);
  -webkit-box-shadow: 0 0 32px rgba(10, 10, 10, 0.08);
}

.text-container{
  animation: slideInLeft  1s ease-in;

}

