<div class="container">
  <div class="wrapper">
    <div class="contact">
      <div class="info-wrap">
        <h3>İletişim</h3>
        <div class="cell">
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="text">
            <p>
              Kızılırmak Mah. 1450.sok. No:1, B Blok, 5.Kat, Daire 30, ATM Plaza, Çankaya/ANKARA
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="icon">
            <span class="fa fa-phone"></span>
          </div>
          <div class="text">
            <p>
              <a href="tel://1234567920">0544 549 9753 </a>
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="icon">
            <span class="fa fa-paper-plane"></span>
          </div>
          <div class="text">
            <p>
              <a href="mailto:info@yoursite.com">av.perihanterzi@gmail.com</a>
            </p>
          </div>

        </div>
        <div class="social-media">
          <i class="fa-brands fa-twitter" (click)="goToLink(linkLinkedin)" ></i>
          <i class="fa-brands fa-instagram" (click)="goToLink(linkLinkedin)"></i>
          <i class="fa-brands fa-linkedin-in" (click)="goToLink(linkLinkedin)"></i>
        </div>
      </div>
    </div>
    <div class="description" >
      <img src="/assets/contact-img.jpg" width="100%" >
    </div>

  </div>
</div>
