.container{
  display: flex;
  flex-direction: column;
  padding: 3% 15%;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.contact{
  padding-left: 2%;
}

.info-wrap .dbox p span {
  font-weight: 400;
  color: #000;
}

.description{
  background: linear-gradient(135deg, #7f279c 0%, #2e279d 100%);
}